[Unit]
Description=ZDV Training Schduler Site
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv
ExecStart=docker run --init --rm -p 4321:4321 -v /srv/data:/data -v /srv/zdv-training-scheduler.config.toml:/app/.config.toml --name zdv-training-scheduler celeo/zdv-training-scheduler:latest
Restart=always

[Install]
WantedBy=default.target
