---
import Main from "../layouts/Main.astro";
import { Scheduling as Component } from "../components/Scheduling.tsx";
---

<Main title="Scheduling">
  <Component client:only />
</Main>

<script>
  if (localStorage.getItem("sso-access-token") === null) {
    window.location.href = "/";
  }
</script>
