---
import Main from "../layouts/Main.astro";
import { Admin as AdminComponent } from "../components/Admin.tsx";
import { Stats as StatsComponent } from "../components/Stats.tsx";
---

<Main title="Admin">
  <AdminComponent client:load />
  <hr class="mt-10 pb-10 mx-auto" style="width: 80%" />
  <StatsComponent client:load />
</Main>

<script>
  if (localStorage.getItem("jwt") === null) {
    window.location.href = "/";
  }
</script>
