---
import Main from "../layouts/Main.astro";
import { Admin as Component } from "../components/Admin.tsx";
---

<Main title="Admin">
  <Component client:only />
</Main>

<script>
  if (localStorage.getItem("jwt") === null) {
    window.location.href = "/";
  }
</script>
