---
import Main from "../layouts/Main.astro";
import { Preferences as Component } from "../components/Preferences";
---

<Main title="Preferences">
  <Component client:only />
</Main>

<script>
  if (localStorage.getItem("jwt") === null) {
    window.location.href = "/";
  }
</script>
