---
import Main from "../layouts/Main.astro";
---

<Main title="Page not found">
  <h2 class="text-2xl">Preferences</h2>
  <!-- TODO -->
</Main>

<script>
  if (localStorage.getItem("jwt") === null) {
    window.location.href = "/";
  }
</script>
