---
import Main from "../layouts/Main.astro";
---

<Main title="Scheduling">
  <div class="mx-auto max-w-3xl">
    <h1 class="text-2xl pt-5 pb-5">Privacy Policy</h1>
    <p class="text-lg">
      This site collects and uses the following information from you:
    </p>
    <ul class="list-inside list-disc pl-2 py-2 text-lg">
      <li>Your VATSIM details (cid, name, email)</li>
      <li>Your ZDV site details (operating initials, roles)</li>
    </ul>
    <p class="text-lg">
      This information is not shared with any site other than VATSIM and ZDV.
      <br />
       No information is sold, whatsoever.
      <br /><br />
       This site does not allow for changing of any of your VATSIM or ZDV
      information. If you wish to do so, navigate to the settings areas of those
      sites.
      <br /><br />
       If you wish to have you data purged from this site, please email the ZDV
      <a href="mailto:wm@zdvartcc.org" class="underline text-accent">WM</a>,
      <a href="mailto:atm@zdvartcc.org" class="underline text-accent">ATM</a>,
      and/or
      <a href="mailto:datm@zdvartcc.org" class="underline text-accent">DATM</a>.
      These are the same people you can contact with concerns, including those
      of security. Please direct feedback and general questions to the WM.
    </p>
  </div>
</Main>
