---
import Main from "../layouts/Main.astro";
import { Scheduling as Component } from "../components/Scheduling.tsx";
---

<Main title="Scheduling">
  <Component client:load />
</Main>

<style is:global>
.react-calendar__tile--active {
  color: blue !important;
}
</style>

<script>
  if (localStorage.getItem("jwt") === null) {
    window.location.href = "/";
  }
</script>
