---
import Main from "../layouts/Main.astro";
---

<Main title="Preferences">
  <div class="pt-5 px-5 lg:px-0 max-w-1xl lg:max-w-3xl mx-auto">
    <h2 class="text-2xl pb-2 underline">Intro</h2>
    <div class="text-lg">
      <p>
        This site allows <strong>trainers</strong> to post their availability,
        and facility members (as <strong>students</strong>) to book time with
        those trainers for progressing in their VATISM controlling journey.
      </p>
      <br />
      <p>
        To start, click the "<strong>Log in</strong>" button in the top navbar.
      </p>
      <br />
      <p>
        After logging into the facility site (if needed) and being redirected to
        this site, you'll have more options on the top navbar:
      </p>
      <ul class="list-disc list-inside pt-1">
        <li><strong>Scheduling</strong> - the main part of the site</li>
        <li><strong>Prefs</strong> - manage your communcation preferences</li>
        <li><strong>Log out</strong></li>
      </ul>
      <br />
    </div>

    <h2 class="text-2xl pb-2 underline">Scheduling</h2>
    <div class="text-lg">
      <p>
        As a student (assuming you're not also a Mentor/Instructor), this
        process is simple: click on different days on the calendar to see
        sessions that are available on that date. All times are in your timezone
        (based on your computer's settings).
      </p>
      <br />
      <p>
        When you find a session on a date, you'll see the trainer's name, which
        position(s) they are certified to train on, and any notes they've made
        for that session.
      </p>
      <br />
      <p>
        Click on the session to see a popup to confirm registration. Select the
        position you want to train on, and then click the green button. Make
        whatever reminder you need to make it to the session, and you're done.
      </p>
    </div>

    <h2 class="text-2xl pt-6 pb-2 underline">Preferences</h2>
    <div class="text-lg">
      <p>
        The preferences page is pretty simple - do you want to receive
        communcation over email, Discord, or both?
        <br />
         You must have one of these options toggled. Discord only is the
        default.
        <br />
         Your email comes from VATSIM; if you wish to change it, do so there.
      </p>
      <br />
      <p>
        Do note: you will receive a message on Discord 1 hour before your
        session regardless of your preferences here, as you're expected to be in
        Discord for sessions.
      </p>
    </div>

    <h2 class="text-2xl pt-6 pb-2 underline">Log out</h2>
    <div class="text-lg">
      <p>This does exactly what you think it does.</p>
    </div>

    <h2 class="text-2xl pt-6 pb-2 underline">Scheduling for trainers</h2>
    <div class="text-lg">
      <p>
        For trainers, there's more to do on the scheduling page via second tab.
        Click the tab to see your extra controls. Do note that changes made on
        the "Trainer" tab do not automatically update <i>your</i> "Student" tab,
        so you may need to refresh if you switch between tabs.
      </p>
      <br />
      <p>
        You have 2 options for inputting your availability: make one-off
        sessions on a specific date and time, or by creating a schedule. If you
        create a one-off session, that will be on the calendar for students to
        accept, and that's it. Creating a schedule will allow students to accept
        sessions on that weekday and time for multiple weeks into the future,
        which is how Picktime works.
      </p>
      <br />
      <p>
        You can add <strong>schedule exclusions</strong> by selecting sessions
        from your schedules on the "Students" tab, clicking it, and clicking
        "Delete" in the popup. This will cancel the schedule on this day only,
        preventing students from accepting it. Useful for holidays, vacations,
        etc. Deleting individual sessions is done in the same way.
      </p>
      <br />
      <p>
        In addition to creating sessions and schedules, the "Trainers" tab shows
        your active schedules and pending sessions.
      </p>
    </div>

    <h2 class="text-2xl pt-6 pb-2 underline">Admin</h2>
    <div class="text-lg">
      <p>
        This page allows facility Senior Staff to control which positions the
        training staff members are available to train on. As soon as the Senior
        Staff member makes a change to the trainer's positions, all pending
        sessions and sessions from schedules are updated.
      </p>
    </div>
  </div>
</Main>
