---
import Main from "../../layouts/Main.astro";
import { getAuthorizationUrl } from "../../util/auth";
import { addOAuthState } from "../../data";

const authUrl = await getAuthorizationUrl();
addOAuthState(authUrl.state);
---

<Main title="Redirecting">
  <h2 class="text-center text-2xl pt-6">Redirecting ...</h2>
  <input class="hidden" id="sso-url" value={authUrl.url} />
</Main>

<script>
  setTimeout(() => {
    window.location.href = (
      document.getElementById("sso-url") as HTMLInputElement
    ).value;
  }, 1000);
</script>
