---
import Site from "./Site.astro";
import { NavbarEntries } from "../components/NavbarEntries.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Site title={title}>
  <nav class="pt-1">
    <div
      class="max-w-screen-xl lg:max-w-screen-lg flex flex-wrap items-center justify-between mx-auto pt-1 px-4"
    >
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >ZDV Training Scheduler</span
      >
      <div class="w-auto">
        <NavbarEntries client:only />
      </div>
    </div>
  </nav>

  <div class="container mx-auto pt-6">
    <slot />
  </div>

  <footer
    class="fixed bottom-0 left-0 z-20 w-full p-4 shadow flex items-center justify-between"
  >
    <span class="text-sm text-gray-500"
      >Not affiliated with any real-world aviation entity. Only for use on
      VATSIM.</span
    >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0"
    >
      <li>
        <a href="/privacy_policy" class="mr-4 hover:underline md:mr-6"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a
          href="https://zdvartcc.org/"
          class="mr-4 hover:underline md:mr-6"
          target="_blank">ZDV</a
        >
      </li>
      <li>
        <a
          href="https://github.com/Celeo/zdv-training-scheduler"
          class="hover:underline"
          target="_blank">Open source</a
        >
      </li>
    </ul>
  </footer>
</Site>
