---
import Site from "./Site.astro";
import { NavbarEntries } from "../components/NavbarEntries.tsx";
import { Alerts } from "../components/Alerts.tsx";
import { loadConfig } from "../util/config";

interface Props {
  title: string;
}

const { title } = Astro.props;
const config = await loadConfig();
---

<Site title={title}>
  <Alerts client:only />
  <nav class="pt-1">
    <div
      class="max-w-screen-xl lg:max-w-screen-lg flex flex-wrap items-center justify-between mx-auto pt-1 px-4"
    >
      <a href="/" class="hover:text-sky-300 text-2xl font-semibold"
        >{config.facilityShort} Training Scheduler</a
      >
      <div class="w-auto">
        <NavbarEntries client:only />
      </div>
    </div>
  </nav>

  <div class="pt-6 flex-grow pb-10">
    <slot />
  </div>

  <footer class="w-full p-4 shadow flex items-center justify-between">
    <span class="text-sm text-gray-500"
      >Not affiliated with any real-world aviation entity. Only for use on
      VATSIM.</span
    >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0"
    >
      <li>
        <a href="/usage" class="mr-4 hover:underline md:mr-6">Usage</a>
      </li>
      <li>
        <a href="/privacy_policy" class="mr-4 hover:underline md:mr-6"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a
          href={`https://${config.facilityDomain}/`}
          class="mr-4 hover:underline md:mr-6"
          target="_blank">{config.facilityShort}</a
        >
      </li>
      <li>
        <a
          href="https://github.com/Celeo/zdv-training-scheduler"
          class="hover:underline"
          target="_blank">FOSS</a
        >
      </li>
    </ul>
  </footer>
</Site>

<style is:global>
  .custom-fade-in {
    opacity: 1;
    animation: fade-in 0.1s linear;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
